body{
  margin:0 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  line-height: 1.8;
  color:#40514E;
  font-size: 2rem;
}
ul,ol{
  text-align:left;
}
h1,h2{
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #66BFBF;
  text-align:left;
  line-height: 1.5;
}
h1{
  font-size: 2rem;
}
h2{
  font-size: 2rem;
}
hr{
  border: dotted #EAF6F6 16px;
  border-bottom: none;
  width: 20%;
}
p{
  padding-left: 5px;
  padding-right: 5px;
  text-align:left;
}
.coloredwidth100{
  background-color: #EAF6F6;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.container_header{
    width:100%;
    padding-top: 15rem;
    padding-bottom: 15rem;
}
#header_office_link{
  color: #71c4c4;
  text-decoration: underline;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.selfie_formal{
  position: relative;
  border-radius:100%;
  width:40rem;
  /* display: inline; */
}
.image_block_inline{
  display: inline;
}
.sectional_image{
  color: #40514E;
  padding-right: 15rem;
  padding-left: 15rem;
}
.pre-footer{
  background-color:#EAF6F6;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin: 5rem auto 0 auto;
}
.networking{
  background-color: #66BFBF;
}
.footer_icons{
  color:black;
  position: relative;
  margin: 0 auto 0 auto;
  padding: 0.5rem;
}
.footer_p{
  color:white;
  padding-bottom: 0;
  margin-bottom: 0;
}
